html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/img/repeating_bg.jpg');
    background-color: transparent;
    background-size: cover;
    margin: 0;
    font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.navBar {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: transparent;
    color: white;
    text-align: center;
    height: 82px;
    width: 233.82px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    /* font-family: monospace; */
    
}

.navBar > a {
    display: block;
    text-decoration: solid;
    color: #fff;
    width: 33%;
    font-family: inherit;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    line-height: 1.5;
    padding: 24px 16px 24px 16px;
    text-align: left;
    list-style-position: outside;
    text-decoration-thickness: auto;
    text-decoration-line: none;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;

}

.footerLogo {
    height: 24px;
    margin: 10px 0 10px 0;
    padding: 0;
}

.logos {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    height: 70px;
    width: 100%;
}

.video  {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

iframe {
    border: none;
}

.tableauChart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.image > img {
    width: 100%;
    height: auto;
}
.includedMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.byuRover {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

@media (min-width: 500px) {
    
    .byuRover {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .video {
        
        float: none;
        clear: both;
        width: 60%;
        height: auto;
        position: relative;
        padding: 25px 0px 35.25% 0px;
        padding-bottom: 35.25%;
        height: 0;

    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .competitionDetails {
        margin-right: 40px;
    
    }
}

.competitionDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}